*~
*.bak
*.pyc
Thumbs.db
*.class
*.DS_Store
.gradle
.vscode
cygdrive
/out
/repo
.idea/dictionaries/*.xml
!.idea/dictionaries/adt.xml
.idea/g3plugins.project.settings.xml
.idea/google-java-format.xml
.idea/saveactions_settings.xml
.idea/shelf
.idea/usage.statistics.xml
.idea/workspace.xml
.idea/usage.statistics.xml
misc/distrib_plugins/build
misc/distrib_plugins/buildSrc/build
misc/distrib_plugins/buildSrc/out
misc/distrib_plugins/buildSrc/buildSrc.i*
